#mainHeading { 
  margin-top: 1.75%;
  /* margin-bottom: 3%; */
  text-align: center;
}
.mainSubHeading {
  margin-top: 1.5%;
  text-align: center;
}
.subHeading {
  /* margin-top: 2%; */
  text-align: center;
}
a {
  text-decoration: none;
}
a:link {
  color: #1756a9;
}
a:visited {
  color: #1756a9;
}
a:active {
  color: #b82424;
}
a:hover {
  text-decoration:underline;
}
section {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

p {
  margin: 0 auto;
  margin-bottom: 8px;
}
.p-italic {
  font-style: italic;
}
.p-semibold {
  font-weight: 500;
  /* font-size: 1.15em; */
}
img {
  width: 16px;
  height: 16px;
  /* display:inline-block */
}
#hiddenMessage {
  display: none;    
}
#foxDash-icon {
  width: 24px;
  height: 24px;
  margin: -3px -3px;
}
.inline-div {
  display: inline-block;
}
#interestingThought {
  transition-property: opacity;
  transition-duration: 0.5s
}
.btn-link {
  color: #1756a9;
}
#thoughtButton {
  /* color: #5a6268; */
  font-size: 0.75em;
  font-weight: 400;
  padding-top: 0;
  text-decoration: none;
}
#thoughtButton:hover {
  text-decoration:underline;
}
#links {
  margin-bottom: 2%;
}
.social-icon {
  width: 16px;
  height: 16px;
}

/* Animations */
.fade-in {
  animation: fadeIn 0.6s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-5px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}