/* TODO: Remove comments */
/* TODO: Double check hw requirements, video and grading */

body {
  background: #FFFFFF;
  margin: 0;
  padding: 0;
}

.navbar {
  /* position: relative; */
  padding: 1em 4em;
  background: #FFFFFF;
  /* width: 100%; */
  /* height: 100px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu-text {
  font-size: 14px;
}

#menu-items > li {
  font-size: 12px;
  display: inline-block;
  padding-inline-start: 1.5em;
}

a {
  color: #b4b1b1;
  text-decoration: none; 

}
a:hover { 
  color: #919090;
  text-decoration: none; 
}

a:link, a:visited, a:active { 
  text-decoration: none; 
}

.hero {
  background: rgba(0, 0, 0, 0.2) url("https://csci571.com/hw/hw3/images/lawyer.jpg");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  width: 705px;
  height: 396px;
  /* height: 718px; */
  /* VARIABLE HEIGHT: */
  /* height: calc(0.562 * 100vw);  */
}

.sign-up-box {
  position: relative;
  left: 3em;
  top: 5em;
  width: 11em;
  padding: 1.3em 1.5em;
  background-color: #12406b;
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  /* margin: 5em; */
}

.main-cta-small {
  color: white;
  font-size: 0.6em;
  font-weight: 100;
  margin-bottom: 0.5em;
}

.main-cta-large {
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  margin: 0;
}

.sub-cta {
  color: #F8D914;
  font-size: 0.5em;
  font-style: italic;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

.sign-up-input {
  margin: 1em 0;
  padding: 0.3em 0;
}

.sign-up-button {
  background-color: #F8D914;
  border: 3px solid #F8D914;
  font-size: 0.5em;
  width: 12em;
  padding: 0.5em;
  margin-bottom: 2.5em;
}

.sign-up-button:hover {
  cursor: pointer;
  background-color: #c6ad10;
  border-color: #c6ad10;
}
.sign-up-button:active {
  background-color: #94820c;
  border-color: #94820c;
}

.features {
  display: flex;
  flex-direction: row;
  padding: 2.2em;
}

.feature-box {
  margin: 1.2em 1.5em;
  text-align:left;
}

.feature-heading {
  font-size: 0.5em;
  font-weight: 400;
}

.feature-description {
  font-size: 0.45em;
  line-height: 1.7em;
  color: #878787
}

.quote {
  background-color: #F1F1F1;
  text-align: center;
  padding: 7em 0;
}

.quote-heading {
  font-weight: 500;
  font-size: 0.8em;
  margin: 0.75em;
}

.quote-author {
  font-weight: bold;
  font-size: 0.6em;
}

.quote-description {
  color: #737373;
  font-weight: 500;
  font-size: 0.6em;
}

.prices {
  background: #fff url("https://csci571.com/hw/hw3/images/glasses.png") no-repeat center;
  background-blend-mode: luminosity;
  background-size: cover;
  background-attachment: fixed;
  /* filter: grayscale(100%); */
}

.trans-layer-a {
  text-align: center; 
  background-color: rgba(214, 213, 213, 0.8);
  padding: 3em 0;
  /* filter: grayscale(100%); */

}

.prices-heading {
  font-weight: 500;
  margin: 0;
}

.prices-subheading {
  color: #878787;
  font-size: 0.65em;
}

.plans {
  display: flex;
  flex-direction: row;
  padding: 2em;
  justify-content: center;
}

.plan-box-container {
  position: relative;
  margin: 0.75em;
}

.plan-box-container::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("https://csci571.com/hw/hw3/images/grid.png");
  background-size: cover;
  background-position: top center;
  opacity: 0.25;
}

.plan-box {
  /* position: relative; */
  background-color: rgba(255, 255, 255);
  text-align: center;
  padding: 2.7em 1.4em;
}

.plan-heading {
  position: relative;
  font-size: 0.6em;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.plan-features {
  position: relative;
  font-size: 0.55em;
  font-weight: 500;
  color: #7c7b7b;
  margin: 2em 2em 3.5em 2em;
  padding: 0;
  list-style-type: none;
}

.plan-features > li {
  margin-bottom: 1em;
}

.plan-price {
  position: relative;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

.buy-now-button {
  position: relative;
  background-color: #0C2D4A;
  border: 3px solid #0C2D4A;
  color: white;
  font-size: 0.5em;
  width: 10em;
  padding: 1em;
  margin: 2.5em 2.5em 0 2.5em;
}

.buy-now-button:hover {
  cursor: pointer;
  background-color: #c6ad10;
  border-color: #c6ad10;
}

.buy-now-button:active {
  background-color: #94820c;
  border-color: #94820c;
}

.try-it {
  background-image: url("https://csci571.com/hw/hw3/images/notebook.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 17em;
  /* height: 403px; */
}

.trans-layer-b {
  background-color: rgba(3, 51, 77, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* padding: 9.55em 0; */
}

.trans-layer-b > h3 {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

.trans-layer-b > p {
  color: #FFFFFF;
  font-size: 0.5em;
  margin-bottom: 2.5em;
}

.contact {
  background-color: #202935;
  text-align: center;
  padding: 3em;
}

.contact-heading {
  color: white;
  font-weight: 500;
  font-size: 0.75em;
  margin: 0.75em;
}

.contact-subheading {
  color: #878787;
  font-size: 0.5em;
  font-weight: 100;
}

.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-links > li {
  display: inline-block;
  padding: 0.75em;
}

a > img {
  height: 1.4em;
  width: 1.4em;
}